* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #808080;
}

.container-left {
    display: inline-block;
    margin-left: 100px;
}

.container-rigth {
    display: inline-block;
    margin-left: 100px;
    margin-top: -100px;
}

img {
    height: 900px;
    width: 900px;
    margin-top: 50px;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
    line-height: 70px;
}

h2 {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 70px;
}

p {
    font-size: 25px;
    color: #FFFFFF;
    line-height: 50px;
}

a {
    color: #C0C0C0;
    font-size: 40px;
    line-height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .container-left {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .container-rigth {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
    }

    h1 {
        font-size: 35px;
        margin: 20px auto;
        text-align: center;
    }

    h2 {
        font-size: 25px;
        margin: auto;
        text-align: center;
    }

    p {
        font-size: 20px;
        margin: 10px auto;
        width: 90%;
    }

    a {
        display: block;
        text-align: center;
        margin: 20px auto;
        cursor: pointer;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 90%;
        height: 500px;
        width: 500px;
    }

    div {
        display: flex;
        flex-direction: column-reverse;
    }
}